.inner {
    width: 680px!important;
}
.language-dropdown {
    position: absolute;
    right: 30px!important;
}
.language-dropdown ul {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #ffffff;
    border-radius: 4px;
}

.language-dropdown ul li {
    padding-left: 0;
    border-left: solid 1px #ffffff;
}

.language-dropdown ul li:first-child {
    border-left: 0;
}

.language-dropdown ul li a {
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
}

.language-dropdown ul li a:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.language-dropdown ul li a:active {
    background-color: rgba(255, 255, 255, 0.175);
}
